---
title: "Zillow"
layout: default
pagination:
enabled: true
description: "Portfolio analysing design techniques on Zillow"
---


<div class="container">

    {% if page.url == "/" %}

    <div class="row remove-site-content-margin">
        <!-- New Image Section -->
        <div class="image-section">
            <img src="{{ site.baseurl }}/assets/images/homepagehouse.jpg" alt="Descriptive Text" class="img-fluid">
        </div>

        <!-- Content Section with same font style -->
        <div class="content-section">
            <p class="custom-font-content my-4 text-center" style="font-size: 18px">
                Welcome to my portfolio, where I showcase advanced design techniques in data structures and algorithms
                inspired by real-world applications at Zillow. This portfolio includes innovative solutions such as
                using skip lists for efficient property searches, leveraging dynamic programming for optimal renovation
                investments, and applying graph algorithms for fraud detection in property listings. My work emphasizes
                in understanding and analysing the design techniques implemented in the real world application enhancing
                user experience and operational efficiency on the Zillow platform.
            </p>
        </div>

        <div class="custom-font-content my-4 " style="font-size: 18px">
            <section id="domain-introduction">
                <h1>Zillow</h1>
                <p>
                    Helping people get home since 2006, Zillow’s products and services make the real estate process
                    seamless for renters, shoppers, buyers, and sellers. Zillow was founded to provide people with the
                    information they need to find the right home and is now a trusted name in real estate. It is the
                    most visited real estate platform, with data showing that 70% of all home buyers and sellers use
                    Zillow during their transactions.
                </p>

                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ site.baseurl }}/assets/images/H1 (1).png" alt="Image 1" class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <img src="{{ site.baseurl }}/assets/images/H1 (2).png" alt="Image 2" class="img-fluid">
                    </div>
                    <div class="col-md-4">
                        <img src="{{ site.baseurl }}/assets/images/H1 (3).png" alt="Image 3" class="img-fluid">
                    </div>
                </div>

                <h3>Features of Zillow</h3>
                <ul>
                    <li><strong>Shoppers:</strong> Maximize the home shopping experience with tech tools like 3D Home
                        tours,
                        immersive floor plans,
                        natural language search and co-shopping, all available in the Zillow app.
                    </li>
                    <li><strong> Buyers:</strong>Understand what you can afford and find the right mortgage through
                        Zillow Home Loans
                        ; connect with a
                        local Zillow Premier Agent partner to help you find your next place; or book a tour to see your
                        favorite listing in person.
                    </li>
                    <li><strong>Sellers:</strong> Sell your house and capture buyer attention with Listing Showcase.
                    </li>
                    <li>
                        <strong>renters and landlords:</strong>Manage rental applications, payments and more through
                        Zillow Rental
                        Manager and Boost credit by
                        paying rent on time.
                    </li>
                </ul>

            </section>
        </div>

    </div>



    {% endif %} <!--endif page url is / -->



    <!-- Now the rest of the posts with the usual loop but with an offset:4 on the first page so we can skeep the first 4 posts displayed above -->

    <div class="row mt-3">

        <div class="col-md-8 main-loop">

            <h3 class="font-weight-bold spanborder"><span>Business Cases</span></h3>


            {% for post in paginator.posts %}

            {% include main-loop-card.html %}

            {% endfor %}

            <div class="mt-5">
                <!-- Pagination links -->
                {% if paginator.total_pages > 1 %}
                <ul class="pagination">
                    {% if paginator.previous_page %}
                    <li class="page-item"><a class="page-link"
                            href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;
                            Prev</a></li>
                    {% else %}
                    <li class="page-item disabled"><span class="prev page-link">&laquo;</span></li>
                    {% endif %}

                    {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                    <li class="page-item disabled"><span class="webjeda page-link">{{ page }}</span></li>
                    {% elsif page == 1 %}
                    <li class="page-item"><a class="page-link" href="{{site.baseurl}}/">{{ page }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link"
                            href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{
                            page }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if paginator.next_page %}
                    <li class="page-item"><a class="page-link"
                            href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next
                            &raquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><span class="next page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>

        </div>

        <div class="col-md-4">
            {% include sidebar-featured.html %}
        </div>

    </div>



</div>